@import "../../utils/styles/colors.scss";
.chatApp{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-grow: 1;
    .chats{
        flex-grow: 3.2;
        max-width: 260px;
        min-height: 100vh;
        height: 100%;
    }
    .chat{
        flex-grow: 7;
        min-height: 100vh;
        height: 100%;
        background-color: $lightlyHeavenBlue;
    }
    .anotherUserProfile{
        flex-grow: 2.8;
        max-width: 225px;
        min-height: 100vh;
        height: 100%;
        background-color: $snowWhite;
        border-left: 1px solid rgb(225, 225, 225);
    }
}